**Distribuição de médicos por idade e estado**

Extração de PDF

In [0]:
pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/53/a4/66add528eca00398af98f181772006750019eb9f2d68c7c6fdd53ba661c5/tabula_py-2.1.0-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.0MB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.2)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.0

Libraries

In [0]:
import tabula
import pandas as pd

Path

In [0]:
url = "estudo-medico.pdf"

Extração do pdf, renomeando colunas

In [0]:
medicos_dist_idade_estado = tabula.read_pdf(url, stream=True, guess=False, pages=43, 
                                            area=(265, 20, 740, 445))[0]
medicos_dist_idade_estado.columns = ["sigla_state", "media", "desvio_padrao"]                          
medicos_dist_idade_estado.head()

         sigla_state media desvio_padrao
0            Alagoas  49,5          13,9
1            Paraíba  47,5          15,0
2     Rio de Janeiro  47,3          14,1
3              Amapá  46,7          13,4
4  Rio Grande do Sul  46,4          13,9

Download CSV

In [0]:
medicos_dist_idade_estado.to_csv("medicos_dist_idade_estado.csv")